* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.bbb{
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: auto;
  font-size: 13px;
  padding: 10px;
}
.katta {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav1 {
  background-color: rgb(5, 185, 149);
}

.bosh1 img {
  width: 100px;

}

.bosh2 input {
  /* width: 800px; */
  width: 95%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.bosh3 i {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.pas1 {
  background-color: white;
}

.pas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  margin: auto;
  background-color: white;
}

.p1 {
  display: flex;

}

.bosh2 {
  width: 840px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.bosh2 i {
  font-size: 25px;
  padding: 10px, 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding: 30px;
  width: 95%;
  margin: auto;
}

.p1 ul li {
  margin: 0px 10px;
}

.p1 ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  position: relative;
color: black;
}

.p1 ul li a::before {
  content: " ";
  width: 0%;
  height: 12%;
  top: 100%;
  left: 0%;
  background-color: rgb(5, 185, 149);
  position: absolute;
  transition: 0.5s;
}