* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.backdrop{
  width: 100%;
  height: 100vh;
  background-color: red;
  z-index: 99999;
}
.bbb{
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: auto;
  font-size: 13px;
  padding: 10px;
  position: relative;
}
.katta {
  position: fixed;
  width: 100%;
}

.nav1 {
  background-color: #10B981;
}

.bosh1 img {
  width: 100px;

}
.bbb{
  background-color: #fff;
  width: 100%;
}
.bosh2 input {
  /* width: 800px; */
  width: 95%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.bosh3 i {
  font-size: 25px;
  color: white;
  cursor: pointer;
  width: 70px;
}

.pas1 {
  background-color: white;
}

.pas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  margin: auto;
  background-color: white;
}

.p1 {
  display: flex;

}

.bosh2 {
  width: 840px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.bosh2 i {
  font-size: 25px;
  padding: 10px, 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding: 30px;
  width: 95%;
  margin: auto;
}

.p1 ul li {
  margin: 0px 10px;
}

.p1 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.red{
  background-color: rgb(229, 196, 196);
  padding: 5px;
  border-radius: 5px;
}
.red a{
  color: brown;
}
ul li a {
  text-decoration: none;
  position: relative;
color: black;
}
ul li a:hover{
  color: green;
}
.p1 ul li a::before {
  content: " ";
  width: 0%;
  height: 12%;
  top: 100%;
  left: 0%;
  background-color: #4cd964;
  position: absolute;
  transition: 0.5s;
}
.ulkhen {
  opacity: 0.9;
  height: 100%;
  width: 100%;    
}
.hj{
  display: flex;
  gap: 10px;
}
.hj a{
  border: none;
color: #4fb275;
font-weight: 700;
text-decoration: none;
}
.bot{
  width: 450px;
  height: 130vh;
  z-index: 9;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s;
  left: -450px;
}
.f{

  left: 0px;
  
}
.kard{
  border: 1px solid rgb(201, 200, 200);
  border-left: none;
  border-right: none;
}
.kard .cards{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
.kard .cards img{
  width: 30px;
  padding: 5px;
}
.kard .cards i {
  padding: 5px;
}
.f button{
  padding: 10px;
  background-color: rgb(247, 6, 6);

}
button{
  background-color: green;
  color: white;
}
.kop button{
  border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
background-color: aliceblue;
color: red;
font-weight: 700;
font-size: 20px;
align-items: center;
justify-content: center;
}
.kop{
  padding: 10px 30px;
  height: 70px;
  background-color: #10B981;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bot .uj {
  padding: 20px;
}
@media(max-width: 1280px){
    .bbb {
        display: none;
      }
  .bosh2{
    width: 400px;
  }
        nav{
          height: 70px;
        }
    .car {
      background-color: rgb(58, 198, 151);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed !important;
      top: 90%;
      width: 100%;
    }
  
    .car i {
      color: white;
      font-size: 30px;
      padding: 30px;
    }
}
@media(max-width: 1000px) {

.bosh1{
  display: none;
}
.bosh3{
  display: none;
}
.pas1{
  display: none;
}
.bosh2{
  text-align: center;
  width: 100%;
}
}