* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 50px;
}
.navbar ul{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navbar ul a{
  text-decoration: none;
}
.navbar ul li{
  list-style-type: none;
}
/* .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:25px;
}
.item_card {
  width: 250px;
  height: 200px;
  border: 1px solid red;
}
@media (max-width: 560px) {
  .card {
    justify-content: center;
  }
} */

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 25px;
}
.item_card {
  padding: 20px;
  border: 1px solid red;
}
